<p id="notice"><%= notice %></p>

<p>
  <b>Organization name:</b>
  <%= @program.organization_name %>
</p>

<p>
  <b>Location:</b>
  <%= @program.location %>
</p>

<p>
  <b>Type of training:</b>
  <%= @program.type_of_training %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
