<h1>Listing organization_names</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Type of training</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organization_names.each do |organization_name| %>
  <tr>
    <td><%= organization_name.location %></td>
    <td><%= organization_name.type_of_training %></td>
    <td><%= link_to 'Show', organization_name %></td>
    <td><%= link_to 'Edit', edit_organization_name_path(organization_name) %></td>
    <td><%= link_to 'Destroy', organization_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization name', new_organization_name_path %>
