<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @organization_name.location %>
</p>

<p>
  <b>Type of training:</b>
  <%= @organization_name.type_of_training %>
</p>


<%= link_to 'Edit', edit_organization_name_path(@organization_name) %> |
<%= link_to 'Back', organization_names_path %>
